.container {
  max-width: 450px;
  margin: 40px auto;
  padding: 30px;
  background: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  color: #ffffff;
  font-family: 'Segoe UI', Roboto, sans-serif;
}

h1 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 25px;
  font-weight: 500;
}

/* isti kao CARD */
.amount-box {
  background: #252525;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 25px;
  border: 1px dashed #3b82f6;
}

.amount-box label {
  font-size: 12px;
  text-transform: uppercase;
  color: #9ca3af;
  display: block;
  margin-bottom: 5px;
}

.price {
  font-size: 32px;
  font-weight: 800;
  color: #60a5fa;
}

/* QR container */
.qr-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #252525;
  border-radius: 10px;
  margin-bottom: 20px;
}

.qr-box img {
  width: 220px;
  height: 220px;
  background: white;
  padding: 10px;
  border-radius: 8px;
}

.info-box {
  text-align: center;
  color: #9ca3af;
  font-size: 14px;
}